@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(40deg, #6428E7 0%, #2882F0 100%);
}

.links {
  position: fixed;
  top: 40px;
  left: 40px;
}

.link {
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 24px;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.version {
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.logo {
  fill: #fff;
  fill-rule: evenodd;
}
