@import "https://fonts.googleapis.com/css?family=Pacifico";

.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #203880;
}

.content {
  composes: absolute-centered from $page;
}

.title {
  font-family: 'Pacifico', cursive;
  color: white;
}
