/* ==========================================================================
   UI
   ========================================================================== */

/* Button
  ========================================================================== */
.button {
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * Primary
 */
.button-primary {
  composes: button;
}

/* Icon
  ========================================================================== */
.icon {

}
