/* ==========================================================================
   Heading
   ========================================================================== */

/**
 * Titles and subtitles.
 *
 * This file contains all titles and subtitles used across pages/components. Combine
 * composes from typography.css to create headings.
 *
 * Try to limit the max amount of headings to 6 (h1-h6). If you need more talk to
 * the designer to see if some headings can be merged.
 */
.heading-1 { composes: pt-sans h-xxlarge from $typography; }
.heading-2 { composes: pt-sans h-xlarge from $typography; }
.heading-3 { composes: pt-sans h-large from $typography; }
.heading-4 { composes: pt-sans h-medium from $typography; }
.heading-5 { composes: pt-sans h-small from $typography; }
.heading-6 { composes: pt-sans h-xsmall from $typography; }
