/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * CSS Modules flex-box grid.
 *
 * Use this grid for layouting your pages. The following example results in:
 *
 * 1) A full width, one column grid. (All columns are 1/1).
 * 2) At breakpoint $m it will have 3 even columns (All columns are 1/3).
 *
 * Example HTML:
 *
 * <div :class="$style.flexWrapper">
 *   <div :class="$style.col">1/3</div>
 *   <div :class="$style.col">1/3</div>
 *   <div :class="$style.col">1/3</div>
 * </div>
 *
 * Example CSS:
 *
 * .flex-wrapper {
 *   composes: flex-grid from $grid;
 * }
 *
 * .col {
 *   composes: col-1-1 from $grid;
 *   composes: col-m-1-3 from $grid;
 * }
*/

/**
 * Flex grid
 *
 * A wrapper which makes all children listen to flex
 *
 * Always wrap your columns inside a flex-grid wrapper.
 */
.flex-grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

/**
 * Columns
 *
 * Define column widths.
 */
.col-auto { flex: 1 0 auto; max-width: 100%; }
.col-1-1 { flex: 1 0 100%; max-width: 100%; }
.col-1-2 { flex: 1 0 50%; max-width: 50%; }
.col-1-3 { flex: 1 0 33.33%; max-width: 33.33%; }
.col-2-3 { flex: 1 0 66.66%; max-width: 66.66%; }
.col-1-4 { flex: 1 0 25%; max-width: 25%; }
.col-3-4 { flex: 1 0 75%; max-width: 75%; }
.col-1-5 { flex: 1 0 20%; max-width: 20%; }
.col-2-5 { flex: 1 0 40%; max-width: 40%; }
.col-3-5 { flex: 1 0 60%; max-width: 60%; }
.col-4-5 { flex: 1 0 80%; max-width: 80%; }
.col-1-6 { flex: 1 0 16.66%; max-width: 16.66%; }
.col-5-6 { flex: 1 0 83.33%; max-width: 83.33%; }
.col-1-7 { flex: 1 0 14.28%; max-width: 14.28%; }
.col-2-7 { flex: 1 0 28.57%; max-width: 28.57%; }
.col-3-7 { flex: 1 0 42.86%; max-width: 42.86%; }
.col-4-7 { flex: 1 0 57.14%; max-width: 57.14%; }
.col-5-7 { flex: 1 0 71.43%; max-width: 71.43%; }
.col-6-7 { flex: 1 0 85.71%; max-width: 85.71%; }
.col-1-8 { flex: 1 0 12.5%; max-width: 12.5%; }
.col-3-8 { flex: 1 0 37.5%; max-width: 37.5%; }
.col-5-8 { flex: 1 0 62.5%; max-width: 62.5%; }
.col-7-8 { flex: 1 0 87.5%; max-width: 87.5%; }
.col-1-9 { flex: 1 0 11.11%; max-width: 11.11%; }
.col-2-9 { flex: 1 0 22.22%; max-width: 22.22%; }
.col-4-9 { flex: 1 0 44.44%; max-width: 44.44%; }
.col-5-9 { flex: 1 0 55.55%; max-width: 55.55%; }
.col-7-9 { flex: 1 0 77.77%; max-width: 77.77%; }
.col-8-9 { flex: 1 0 88.88%; max-width: 88.88%; }
.col-1-10 { flex: 1 0 10%; max-width: 10%; }
.col-3-10 { flex: 1 0 30%; max-width: 30%; }
.col-7-10 { flex: 1 0 70%; max-width: 70%; }
.col-9-10 { flex: 1 0 90%; max-width: 90%; }
.col-1-11 { flex: 1 0 9.09%; max-width: 9.09%; }
.col-2-11 { flex: 1 0 18.18%; max-width: 18.18%; }
.col-3-11 { flex: 1 0 27.27%; max-width: 27.27%; }
.col-4-11 { flex: 1 0 36.36%; max-width: 36.36%; }
.col-5-11 { flex: 1 0 45.45%; max-width: 45.45%; }
.col-6-11 { flex: 1 0 54.54%; max-width: 54.54%; }
.col-7-11 { flex: 1 0 63.63%; max-width: 63.63%; }
.col-8-11 { flex: 1 0 72.72%; max-width: 72.72%; }
.col-9-11 { flex: 1 0 81.81%; max-width: 81.81%; }
.col-10-11 { flex: 1 0 90.90%; max-width: 90.90%; }
.col-1-12 { flex: 1 0 8.33%; max-width: 8.33%; }
.col-5-12 { flex: 1 0 41.66%; max-width: 41.66%; }
.col-7-12 { flex: 1 0 58.33%; max-width: 58.33%; }
.col-11-12 { flex: 1 0 91.66%; max-width: 91.66%; }

/**
 * Push
 *
 * Push columns to the right based on col width.
 */
.push-auto { margin-left: auto; }
.push-1-1 { margin-left: 100%; }
.push-1-2 { margin-left: 50%; }
.push-1-3 { margin-left: 33.33%; }
.push-2-3 { margin-left: 66.66%; }
.push-1-4 { margin-left: 25%; }
.push-3-4 { margin-left: 75%; }
.push-1-5 { margin-left: 20%; }
.push-2-5 { margin-left: 40%; }
.push-3-5 { margin-left: 60%; }
.push-4-5 { margin-left: 80%; }
.push-1-6 { margin-left: 16.66%; }
.push-5-6 { margin-left: 83.33%; }
.push-1-7 { margin-left: 14.28%; }
.push-2-7 { margin-left: 28.57%; }
.push-3-7 { margin-left: 42.86%; }
.push-4-7 { margin-left: 57.14%; }
.push-5-7 { margin-left: 71.43%; }
.push-6-7 { margin-left: 85.71%; }
.push-1-8 { margin-left: 12.5%; }
.push-3-8 { margin-left: 37.5%; }
.push-5-8 { margin-left: 62.5%; }
.push-7-8 { margin-left: 87.5%; }
.push-1-9 { margin-left: 11.11%; }
.push-2-9 { margin-left: 22.22%; }
.push-4-9 { margin-left: 44.44%; }
.push-5-9 { margin-left: 55.55%; }
.push-7-9 { margin-left: 77.77%; }
.push-8-9 { margin-left: 88.88%; }
.push-1-10 { margin-left: 10%; }
.push-3-10 { margin-left: 30%; }
.push-7-10 { margin-left: 70%; }
.push-9-10 { margin-left: 90%; }
.push-1-11 { margin-left: 9.09%; }
.push-2-11 { margin-left: 18.18%; }
.push-3-11 { margin-left: 27.27%; }
.push-4-11 { margin-left: 36.36%; }
.push-5-11 { margin-left: 45.45%; }
.push-6-11 { margin-left: 54.54%; }
.push-7-11 { margin-left: 63.63%; }
.push-8-11 { margin-left: 72.72%; }
.push-9-11 { margin-left: 81.81%; }
.push-10-11 { margin-left: 90.90%; }
.push-1-12 { margin-left: 8.33%; }
.push-5-12 { margin-left: 41.66%; }
.push-7-12 { margin-left: 58.33%; }
.push-11-12 { margin-left: 91.66%; }

/**
 * Align items
 *
 * Vertical alignment.
 *
 * These styles should only be composed on
 * the flex-grid wrapper
 */
.align-top { align-items: flex-start; }
.align-middle { align-items: center; }
.align-bottom { align-items: flex-end; }

/* Horizontal alignment */
.align-left { justify-content: flex-start; }
.align-center { justify-content: center; }
.align-right { justify-content: flex-end; }

/**
 * Align self
 *
 * Col alignment exceptions
 *
 * These styles should only be composed on
 * the col
 */
.align-self-top { align-self: flex-start; }
.align-self-middle { align-self: center; }
.align-self-bottom { align-self: flex-end; }

/**
 * Distribution
 *
 * Fill empty space around or between cols
 *
 * These styles should only be composed on
 * the flex-grid wrapper
 */
.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }

/* ==========================================================================
   Breakpoints
   ========================================================================== */

/**
 * Breakpoint: $xs
 *
 * These styles will be ignored on screens < $xs
 */
@media ($xs) {
  .col-xs-auto { flex: 1 0 auto; max-width: 100%; }
  .col-xs-1-1 { flex: 1 0 100%; max-width: 100%; }
  .col-xs-1-2 { flex: 1 0 50%; max-width: 50%; }
  .col-xs-1-3 { flex: 1 0 33.33%; max-width: 33.33%; }
  .col-xs-2-3 { flex: 1 0 66.66%; max-width: 66.66%; }
  .col-xs-1-4 { flex: 1 0 25%; max-width: 25%; }
  .col-xs-3-4 { flex: 1 0 75%; max-width: 75%; }
  .col-xs-1-5 { flex: 1 0 20%; max-width: 20%; }
  .col-xs-2-5 { flex: 1 0 40%; max-width: 40%; }
  .col-xs-3-5 { flex: 1 0 60%; max-width: 60%; }
  .col-xs-4-5 { flex: 1 0 80%; max-width: 80%; }
  .col-xs-1-6 { flex: 1 0 16.66%; max-width: 16.66%; }
  .col-xs-5-6 { flex: 1 0 83.33%; max-width: 83.33%; }
  .col-xs-1-7 { flex: 1 0 14.28%; max-width: 14.28%; }
  .col-xs-2-7 { flex: 1 0 28.57%; max-width: 28.57%; }
  .col-xs-3-7 { flex: 1 0 42.86%; max-width: 42.86%; }
  .col-xs-4-7 { flex: 1 0 57.14%; max-width: 57.14%; }
  .col-xs-5-7 { flex: 1 0 71.43%; max-width: 71.43%; }
  .col-xs-6-7 { flex: 1 0 85.71%; max-width: 85.71%; }
  .col-xs-1-8 { flex: 1 0 12.5%; max-width: 12.5%; }
  .col-xs-3-8 { flex: 1 0 37.5%; max-width: 37.5%; }
  .col-xs-5-8 { flex: 1 0 62.5%; max-width: 62.5%; }
  .col-xs-7-8 { flex: 1 0 87.5%; max-width: 87.5%; }
  .col-xs-1-9 { flex: 1 0 11.11%; max-width: 11.11%; }
  .col-xs-2-9 { flex: 1 0 22.22%; max-width: 22.22%; }
  .col-xs-4-9 { flex: 1 0 44.44%; max-width: 44.44%; }
  .col-xs-5-9 { flex: 1 0 55.55%; max-width: 55.55%; }
  .col-xs-7-9 { flex: 1 0 77.77%; max-width: 77.77%; }
  .col-xs-8-9 { flex: 1 0 88.88%; max-width: 88.88%; }
  .col-xs-1-10 { flex: 1 0 10%; max-width: 10%; }
  .col-xs-3-10 { flex: 1 0 30%; max-width: 30%; }
  .col-xs-7-10 { flex: 1 0 70%; max-width: 70%; }
  .col-xs-9-10 { flex: 1 0 90%; max-width: 90%; }
  .col-xs-1-11 { flex: 1 0 9.09%; max-width: 9.09%; }
  .col-xs-2-11 { flex: 1 0 18.18%; max-width: 18.18%; }
  .col-xs-3-11 { flex: 1 0 27.27%; max-width: 27.27%; }
  .col-xs-4-11 { flex: 1 0 36.36%; max-width: 36.36%; }
  .col-xs-5-11 { flex: 1 0 45.45%; max-width: 45.45%; }
  .col-xs-6-11 { flex: 1 0 54.54%; max-width: 54.54%; }
  .col-xs-7-11 { flex: 1 0 63.63%; max-width: 63.63%; }
  .col-xs-8-11 { flex: 1 0 72.72%; max-width: 72.72%; }
  .col-xs-9-11 { flex: 1 0 81.81%; max-width: 81.81%; }
  .col-xs-10-11 { flex: 1 0 90.90%; max-width: 90.90%; }
  .col-xs-1-12 { flex: 1 0 8.33%; max-width: 8.33%; }
  .col-xs-5-12 { flex: 1 0 41.66%; max-width: 41.66%; }
  .col-xs-7-12 { flex: 1 0 58.33%; max-width: 58.33%; }
  .col-xs-11-12 { flex: 1 0 91.66%; max-width: 91.66%; }

  /**
   * Push
   *
   * Push columns to the right based on col width.
   */
  .push-xs-auto { margin-left: auto; }
  .push-xs-1-1 { margin-left: 100%; }
  .push-xs-1-2 { margin-left: 50%; }
  .push-xs-1-3 { margin-left: 33.33%; }
  .push-xs-2-3 { margin-left: 66.66%; }
  .push-xs-1-4 { margin-left: 25%; }
  .push-xs-3-4 { margin-left: 75%; }
  .push-xs-1-5 { margin-left: 20%; }
  .push-xs-2-5 { margin-left: 40%; }
  .push-xs-3-5 { margin-left: 60%; }
  .push-xs-4-5 { margin-left: 80%; }
  .push-xs-1-6 { margin-left: 16.66%; }
  .push-xs-5-6 { margin-left: 83.33%; }
  .push-xs-1-7 { margin-left: 14.28%; }
  .push-xs-2-7 { margin-left: 28.57%; }
  .push-xs-3-7 { margin-left: 42.86%; }
  .push-xs-4-7 { margin-left: 57.14%; }
  .push-xs-5-7 { margin-left: 71.43%; }
  .push-xs-6-7 { margin-left: 85.71%; }
  .push-xs-1-8 { margin-left: 12.5%; }
  .push-xs-3-8 { margin-left: 37.5%; }
  .push-xs-5-8 { margin-left: 62.5%; }
  .push-xs-7-8 { margin-left: 87.5%; }
  .push-xs-1-9 { margin-left: 11.11%; }
  .push-xs-2-9 { margin-left: 22.22%; }
  .push-xs-4-9 { margin-left: 44.44%; }
  .push-xs-5-9 { margin-left: 55.55%; }
  .push-xs-7-9 { margin-left: 77.77%; }
  .push-xs-8-9 { margin-left: 88.88%; }
  .push-xs-1-10 { margin-left: 10%; }
  .push-xs-3-10 { margin-left: 30%; }
  .push-xs-7-10 { margin-left: 70%; }
  .push-xs-9-10 { margin-left: 90%; }
  .push-xs-1-11 { margin-left: 9.09%; }
  .push-xs-2-11 { margin-left: 18.18%; }
  .push-xs-3-11 { margin-left: 27.27%; }
  .push-xs-4-11 { margin-left: 36.36%; }
  .push-xs-5-11 { margin-left: 45.45%; }
  .push-xs-6-11 { margin-left: 54.54%; }
  .push-xs-7-11 { margin-left: 63.63%; }
  .push-xs-8-11 { margin-left: 72.72%; }
  .push-xs-9-11 { margin-left: 81.81%; }
  .push-xs-10-11 { margin-left: 90.90%; }
  .push-xs-1-12 { margin-left: 8.33%; }
  .push-xs-5-12 { margin-left: 41.66%; }
  .push-xs-7-12 { margin-left: 58.33%; }
  .push-xs-11-12 { margin-left: 91.66%; }

  /**
   * Align items
   *
   * Vertical alignment.
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .align-xs-top { align-items: flex-start; }
  .align-xs-middle { align-items: center; }
  .align-xs-bottom { align-items: flex-end; }

  /* Horizontal alignment */
  .align-xs-left { justify-content: flex-start; }
  .align-xs-center { justify-content: center; }
  .align-xs-right { justify-content: flex-end; }

  /**
   * Align self
   *
   * Col alignment exceptions
   *
   * These styles should only be composed on
   * the col
   */
  .align-xs-self-top { align-self: flex-start; }
  .align-xs-self-middle { align-self: center; }
  .align-xs-self-bottom { align-self: flex-end; }

  /**
   * Distribution
   *
   * Fill empty space around or between cols
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .space-xs-around { justify-content: space-around; }
  .space-xs-between { justify-content: space-between; }
}

/**
 * Breakpoint: $s
 *
 * These styles will be ignored on screens < $s
 */
@media ($s) {
  .col-s-auto { flex: 1 0 auto; max-width: 100%; }
  .col-s-1-1 { flex: 1 0 100%; max-width: 100%; }
  .col-s-1-2 { flex: 1 0 50%; max-width: 50%; }
  .col-s-1-3 { flex: 1 0 33.33%; max-width: 33.33%; }
  .col-s-2-3 { flex: 1 0 66.66%; max-width: 66.66%; }
  .col-s-1-4 { flex: 1 0 25%; max-width: 25%; }
  .col-s-3-4 { flex: 1 0 75%; max-width: 75%; }
  .col-s-1-5 { flex: 1 0 20%; max-width: 20%; }
  .col-s-2-5 { flex: 1 0 40%; max-width: 40%; }
  .col-s-3-5 { flex: 1 0 60%; max-width: 60%; }
  .col-s-4-5 { flex: 1 0 80%; max-width: 80%; }
  .col-s-1-6 { flex: 1 0 16.66%; max-width: 16.66%; }
  .col-s-5-6 { flex: 1 0 83.33%; max-width: 83.33%; }
  .col-s-1-7 { flex: 1 0 14.28%; max-width: 14.28%; }
  .col-s-2-7 { flex: 1 0 28.57%; max-width: 28.57%; }
  .col-s-3-7 { flex: 1 0 42.86%; max-width: 42.86%; }
  .col-s-4-7 { flex: 1 0 57.14%; max-width: 57.14%; }
  .col-s-5-7 { flex: 1 0 71.43%; max-width: 71.43%; }
  .col-s-6-7 { flex: 1 0 85.71%; max-width: 85.71%; }
  .col-s-1-8 { flex: 1 0 12.5%; max-width: 12.5%; }
  .col-s-3-8 { flex: 1 0 37.5%; max-width: 37.5%; }
  .col-s-5-8 { flex: 1 0 62.5%; max-width: 62.5%; }
  .col-s-7-8 { flex: 1 0 87.5%; max-width: 87.5%; }
  .col-s-1-9 { flex: 1 0 11.11%; max-width: 11.11%; }
  .col-s-2-9 { flex: 1 0 22.22%; max-width: 22.22%; }
  .col-s-4-9 { flex: 1 0 44.44%; max-width: 44.44%; }
  .col-s-5-9 { flex: 1 0 55.55%; max-width: 55.55%; }
  .col-s-7-9 { flex: 1 0 77.77%; max-width: 77.77%; }
  .col-s-8-9 { flex: 1 0 88.88%; max-width: 88.88%; }
  .col-s-1-10 { flex: 1 0 10%; max-width: 10%; }
  .col-s-3-10 { flex: 1 0 30%; max-width: 30%; }
  .col-s-7-10 { flex: 1 0 70%; max-width: 70%; }
  .col-s-9-10 { flex: 1 0 90%; max-width: 90%; }
  .col-s-1-11 { flex: 1 0 9.09%; max-width: 9.09%; }
  .col-s-2-11 { flex: 1 0 18.18%; max-width: 18.18%; }
  .col-s-3-11 { flex: 1 0 27.27%; max-width: 27.27%; }
  .col-s-4-11 { flex: 1 0 36.36%; max-width: 36.36%; }
  .col-s-5-11 { flex: 1 0 45.45%; max-width: 45.45%; }
  .col-s-6-11 { flex: 1 0 54.54%; max-width: 54.54%; }
  .col-s-7-11 { flex: 1 0 63.63%; max-width: 63.63%; }
  .col-s-8-11 { flex: 1 0 72.72%; max-width: 72.72%; }
  .col-s-9-11 { flex: 1 0 81.81%; max-width: 81.81%; }
  .col-s-10-11 { flex: 1 0 90.90%; max-width: 90.90%; }
  .col-s-1-12 { flex: 1 0 8.33%; max-width: 8.33%; }
  .col-s-5-12 { flex: 1 0 41.66%; max-width: 41.66%; }
  .col-s-7-12 { flex: 1 0 58.33%; max-width: 58.33%; }
  .col-s-11-12 { flex: 1 0 91.66%; max-width: 91.66%; }

  /**
   * Push
   *
   * Push columns to the right based on col width.
   */
  .push-s-auto { margin-left: auto; }
  .push-s-1-1 { margin-left: 100%; }
  .push-s-1-2 { margin-left: 50%; }
  .push-s-1-3 { margin-left: 33.33%; }
  .push-s-2-3 { margin-left: 66.66%; }
  .push-s-1-4 { margin-left: 25%; }
  .push-s-3-4 { margin-left: 75%; }
  .push-s-1-5 { margin-left: 20%; }
  .push-s-2-5 { margin-left: 40%; }
  .push-s-3-5 { margin-left: 60%; }
  .push-s-4-5 { margin-left: 80%; }
  .push-s-1-6 { margin-left: 16.66%; }
  .push-s-5-6 { margin-left: 83.33%; }
  .push-s-1-7 { margin-left: 14.28%; }
  .push-s-2-7 { margin-left: 28.57%; }
  .push-s-3-7 { margin-left: 42.86%; }
  .push-s-4-7 { margin-left: 57.14%; }
  .push-s-5-7 { margin-left: 71.43%; }
  .push-s-6-7 { margin-left: 85.71%; }
  .push-s-1-8 { margin-left: 12.5%; }
  .push-s-3-8 { margin-left: 37.5%; }
  .push-s-5-8 { margin-left: 62.5%; }
  .push-s-7-8 { margin-left: 87.5%; }
  .push-s-1-9 { margin-left: 11.11%; }
  .push-s-2-9 { margin-left: 22.22%; }
  .push-s-4-9 { margin-left: 44.44%; }
  .push-s-5-9 { margin-left: 55.55%; }
  .push-s-7-9 { margin-left: 77.77%; }
  .push-s-8-9 { margin-left: 88.88%; }
  .push-s-1-10 { margin-left: 10%; }
  .push-s-3-10 { margin-left: 30%; }
  .push-s-7-10 { margin-left: 70%; }
  .push-s-9-10 { margin-left: 90%; }
  .push-s-1-11 { margin-left: 9.09%; }
  .push-s-2-11 { margin-left: 18.18%; }
  .push-s-3-11 { margin-left: 27.27%; }
  .push-s-4-11 { margin-left: 36.36%; }
  .push-s-5-11 { margin-left: 45.45%; }
  .push-s-6-11 { margin-left: 54.54%; }
  .push-s-7-11 { margin-left: 63.63%; }
  .push-s-8-11 { margin-left: 72.72%; }
  .push-s-9-11 { margin-left: 81.81%; }
  .push-s-10-11 { margin-left: 90.90%; }
  .push-s-1-12 { margin-left: 8.33%; }
  .push-s-5-12 { margin-left: 41.66%; }
  .push-s-7-12 { margin-left: 58.33%; }
  .push-s-11-12 { margin-left: 91.66%; }

  /**
   * Align items
   *
   * Vertical alignment.
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .align-s-top { align-items: flex-start; }
  .align-s-middle { align-items: center; }
  .align-s-bottom { align-items: flex-end; }

  .align-s-left { justify-content: flex-start;}
  .align-s-center { justify-content: center; }
  .align-s-right { justify-content: flex-end; }

  /**
   * Align self
   *
   * Col alignment exceptions
   *
   * These styles should only be composed on
   * the col
   */
  .align-s-self-top { align-self: flex-start; }
  .align-s-self-middle { align-self: center; }
  .align-s-self-bottom { align-self: flex-end; }

  /**
   * Distribution
   *
   * Fill empty space around or between cols
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .space-s-around { justify-content: space-around; }
  .space-s-between { justify-content: space-between; }
}

/**
 * Breakpoint: $m
 *
 * These styles will be ignored on screens < $m
 */
@media ($m) {
  .col-m-auto { flex: 1 0 auto; max-width: 100%; }
  .col-m-1-1 { flex: 1 0 100%; max-width: 100%; }
  .col-m-1-2 { flex: 1 0 50%; max-width: 50%; }
  .col-m-1-3 { flex: 1 0 33.33%; max-width: 33.33%; }
  .col-m-2-3 { flex: 1 0 66.66%; max-width: 66.66%; }
  .col-m-1-4 { flex: 1 0 25%; max-width: 25%; }
  .col-m-3-4 { flex: 1 0 75%; max-width: 75%; }
  .col-m-1-5 { flex: 1 0 20%; max-width: 20%; }
  .col-m-2-5 { flex: 1 0 40%; max-width: 40%; }
  .col-m-3-5 { flex: 1 0 60%; max-width: 60%; }
  .col-m-4-5 { flex: 1 0 80%; max-width: 80%; }
  .col-m-1-6 { flex: 1 0 16.66%; max-width: 16.66%; }
  .col-m-5-6 { flex: 1 0 83.33%; max-width: 83.33%; }
  .col-m-1-7 { flex: 1 0 14.28%; max-width: 14.28%; }
  .col-m-2-7 { flex: 1 0 28.57%; max-width: 28.57%; }
  .col-m-3-7 { flex: 1 0 42.86%; max-width: 42.86%; }
  .col-m-4-7 { flex: 1 0 57.14%; max-width: 57.14%; }
  .col-m-5-7 { flex: 1 0 71.43%; max-width: 71.43%; }
  .col-m-6-7 { flex: 1 0 85.71%; max-width: 85.71%; }
  .col-m-1-8 { flex: 1 0 12.5%; max-width: 12.5%; }
  .col-m-3-8 { flex: 1 0 37.5%; max-width: 37.5%; }
  .col-m-5-8 { flex: 1 0 62.5%; max-width: 62.5%; }
  .col-m-7-8 { flex: 1 0 87.5%; max-width: 87.5%; }
  .col-m-1-9 { flex: 1 0 11.11%; max-width: 11.11%; }
  .col-m-2-9 { flex: 1 0 22.22%; max-width: 22.22%; }
  .col-m-4-9 { flex: 1 0 44.44%; max-width: 44.44%; }
  .col-m-5-9 { flex: 1 0 55.55%; max-width: 55.55%; }
  .col-m-7-9 { flex: 1 0 77.77%; max-width: 77.77%; }
  .col-m-8-9 { flex: 1 0 88.88%; max-width: 88.88%; }
  .col-m-1-10 { flex: 1 0 10%; max-width: 10%; }
  .col-m-3-10 { flex: 1 0 30%; max-width: 30%; }
  .col-m-7-10 { flex: 1 0 70%; max-width: 70%; }
  .col-m-9-10 { flex: 1 0 90%; max-width: 90%; }
  .col-m-1-11 { flex: 1 0 9.09%; max-width: 9.09%; }
  .col-m-2-11 { flex: 1 0 18.18%; max-width: 18.18%; }
  .col-m-3-11 { flex: 1 0 27.27%; max-width: 27.27%; }
  .col-m-4-11 { flex: 1 0 36.36%; max-width: 36.36%; }
  .col-m-5-11 { flex: 1 0 45.45%; max-width: 45.45%; }
  .col-m-6-11 { flex: 1 0 54.54%; max-width: 54.54%; }
  .col-m-7-11 { flex: 1 0 63.63%; max-width: 63.63%; }
  .col-m-8-11 { flex: 1 0 72.72%; max-width: 72.72%; }
  .col-m-9-11 { flex: 1 0 81.81%; max-width: 81.81%; }
  .col-m-10-11 { flex: 1 0 90.90%; max-width: 90.90%; }
  .col-m-1-12 { flex: 1 0 8.33%; max-width: 8.33%; }
  .col-m-5-12 { flex: 1 0 41.66%; max-width: 41.66%; }
  .col-m-7-12 { flex: 1 0 58.33%; max-width: 58.33%; }
  .col-m-11-12 { flex: 1 0 91.66%; max-width: 91.66%; }

  /**
   * Push
   *
   * Push columns to the right based on col width.
   */
  .push-m-auto { margin-left: auto; }
  .push-m-1-1 { margin-left: 100%; }
  .push-m-1-2 { margin-left: 50%; }
  .push-m-1-3 { margin-left: 33.33%; }
  .push-m-2-3 { margin-left: 66.66%; }
  .push-m-1-4 { margin-left: 25%; }
  .push-m-3-4 { margin-left: 75%; }
  .push-m-1-5 { margin-left: 20%; }
  .push-m-2-5 { margin-left: 40%; }
  .push-m-3-5 { margin-left: 60%; }
  .push-m-4-5 { margin-left: 80%; }
  .push-m-1-6 { margin-left: 16.66%; }
  .push-m-5-6 { margin-left: 83.33%; }
  .push-m-1-7 { margin-left: 14.28%; }
  .push-m-2-7 { margin-left: 28.57%; }
  .push-m-3-7 { margin-left: 42.86%; }
  .push-m-4-7 { margin-left: 57.14%; }
  .push-m-5-7 { margin-left: 71.43%; }
  .push-m-6-7 { margin-left: 85.71%; }
  .push-m-1-8 { margin-left: 12.5%; }
  .push-m-3-8 { margin-left: 37.5%; }
  .push-m-5-8 { margin-left: 62.5%; }
  .push-m-7-8 { margin-left: 87.5%; }
  .push-m-1-9 { margin-left: 11.11%; }
  .push-m-2-9 { margin-left: 22.22%; }
  .push-m-4-9 { margin-left: 44.44%; }
  .push-m-5-9 { margin-left: 55.55%; }
  .push-m-7-9 { margin-left: 77.77%; }
  .push-m-8-9 { margin-left: 88.88%; }
  .push-m-1-10 { margin-left: 10%; }
  .push-m-3-10 { margin-left: 30%; }
  .push-m-7-10 { margin-left: 70%; }
  .push-m-9-10 { margin-left: 90%; }
  .push-m-1-11 { margin-left: 9.09%; }
  .push-m-2-11 { margin-left: 18.18%; }
  .push-m-3-11 { margin-left: 27.27%; }
  .push-m-4-11 { margin-left: 36.36%; }
  .push-m-5-11 { margin-left: 45.45%; }
  .push-m-6-11 { margin-left: 54.54%; }
  .push-m-7-11 { margin-left: 63.63%; }
  .push-m-8-11 { margin-left: 72.72%; }
  .push-m-9-11 { margin-left: 81.81%; }
  .push-m-10-11 { margin-left: 90.90%; }
  .push-m-1-12 { margin-left: 8.33%; }
  .push-m-5-12 { margin-left: 41.66%; }
  .push-m-7-12 { margin-left: 58.33%; }
  .push-m-11-12 { margin-left: 91.66%; }

  /**
   * Align items
   *
   * Vertical alignment.
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .align-m-top { align-items: flex-start; }
  .align-m-middle { align-items: center; }
  .align-m-bottom { align-items: flex-end; }

  .align-m-left { justify-content: flex-start; }
  .align-m-center { justify-content: center; }
  .align-m-right { justify-content: flex-end; }

  /**
   * Align self
   *
   * Col alignment exceptions
   *
   * These styles should only be composed on
   * the col
   */
  .align-m-self-top { align-self: flex-start; }
  .align-m-self-middle { align-self: center; }
  .align-m-self-bottom { align-self: flex-end; }

  /**
   * Distribution
   *
   * Fill empty space around or between cols
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .space-m-around { justify-content: space-around; }
  .space-m-between { justify-content: space-between; }
}

/**
 * Breakpoint: $l
 *
 * These styles will be ignored on screens < $l
 */
@media ($l) {
  .col-l-auto { flex: 1 0 auto; max-width: 100%; }
  .col-l-1-1 { flex: 1 0 100%; max-width: 100%; }
  .col-l-1-2 { flex: 1 0 50%; max-width: 50%; }
  .col-l-1-3 { flex: 1 0 33.33%; max-width: 33.33%; }
  .col-l-2-3 { flex: 1 0 66.66%; max-width: 66.66%; }
  .col-l-1-4 { flex: 1 0 25%; max-width: 25%; }
  .col-l-3-4 { flex: 1 0 75%; max-width: 75%; }
  .col-l-1-5 { flex: 1 0 20%; max-width: 20%; }
  .col-l-2-5 { flex: 1 0 40%; max-width: 40%; }
  .col-l-3-5 { flex: 1 0 60%; max-width: 60%; }
  .col-l-4-5 { flex: 1 0 80%; max-width: 80%; }
  .col-l-1-6 { flex: 1 0 16.66%; max-width: 16.66%; }
  .col-l-5-6 { flex: 1 0 83.33%; max-width: 83.33%; }
  .col-l-1-7 { flex: 1 0 14.28%; max-width: 14.28%; }
  .col-l-2-7 { flex: 1 0 28.57%; max-width: 28.57%; }
  .col-l-3-7 { flex: 1 0 42.86%; max-width: 42.86%; }
  .col-l-4-7 { flex: 1 0 57.14%; max-width: 57.14%; }
  .col-l-5-7 { flex: 1 0 71.43%; max-width: 71.43%; }
  .col-l-6-7 { flex: 1 0 85.71%; max-width: 85.71%; }
  .col-l-1-8 { flex: 1 0 12.5%; max-width: 12.5%; }
  .col-l-3-8 { flex: 1 0 37.5%; max-width: 37.5%; }
  .col-l-5-8 { flex: 1 0 62.5%; max-width: 62.5%; }
  .col-l-7-8 { flex: 1 0 87.5%; max-width: 87.5%; }
  .col-l-1-9 { flex: 1 0 11.11%; max-width: 11.11%; }
  .col-l-2-9 { flex: 1 0 22.22%; max-width: 22.22%; }
  .col-l-4-9 { flex: 1 0 44.44%; max-width: 44.44%; }
  .col-l-5-9 { flex: 1 0 55.55%; max-width: 55.55%; }
  .col-l-7-9 { flex: 1 0 77.77%; max-width: 77.77%; }
  .col-l-8-9 { flex: 1 0 88.88%; max-width: 88.88%; }
  .col-l-1-10 { flex: 1 0 10%; max-width: 10%; }
  .col-l-3-10 { flex: 1 0 30%; max-width: 30%; }
  .col-l-7-10 { flex: 1 0 70%; max-width: 70%; }
  .col-l-9-10 { flex: 1 0 90%; max-width: 90%; }
  .col-l-1-11 { flex: 1 0 9.09%; max-width: 9.09%; }
  .col-l-2-11 { flex: 1 0 18.18%; max-width: 18.18%; }
  .col-l-3-11 { flex: 1 0 27.27%; max-width: 27.27%; }
  .col-l-4-11 { flex: 1 0 36.36%; max-width: 36.36%; }
  .col-l-5-11 { flex: 1 0 45.45%; max-width: 45.45%; }
  .col-l-6-11 { flex: 1 0 54.54%; max-width: 54.54%; }
  .col-l-7-11 { flex: 1 0 63.63%; max-width: 63.63%; }
  .col-l-8-11 { flex: 1 0 72.72%; max-width: 72.72%; }
  .col-l-9-11 { flex: 1 0 81.81%; max-width: 81.81%; }
  .col-l-10-11 { flex: 1 0 90.90%; max-width: 90.90%; }
  .col-l-1-12 { flex: 1 0 8.33%; max-width: 8.33%; }
  .col-l-5-12 { flex: 1 0 41.66%; max-width: 41.66%; }
  .col-l-7-12 { flex: 1 0 58.33%; max-width: 58.33%; }
  .col-l-11-12 { flex: 1 0 91.66%; max-width: 91.66%; }

  /**
   * Push
   *
   * Push columns to the right based on col width.
   */
  .push-l-auto { margin-left: auto; }
  .push-l-1-1 { margin-left: 100%; }
  .push-l-1-2 { margin-left: 50%; }
  .push-l-1-3 { margin-left: 33.33%; }
  .push-l-2-3 { margin-left: 66.66%; }
  .push-l-1-4 { margin-left: 25%; }
  .push-l-3-4 { margin-left: 75%; }
  .push-l-1-5 { margin-left: 20%; }
  .push-l-2-5 { margin-left: 40%; }
  .push-l-3-5 { margin-left: 60%; }
  .push-l-4-5 { margin-left: 80%; }
  .push-l-1-6 { margin-left: 16.66%; }
  .push-l-5-6 { margin-left: 83.33%; }
  .push-l-1-7 { margin-left: 14.28%; }
  .push-l-2-7 { margin-left: 28.57%; }
  .push-l-3-7 { margin-left: 42.86%; }
  .push-l-4-7 { margin-left: 57.14%; }
  .push-l-5-7 { margin-left: 71.43%; }
  .push-l-6-7 { margin-left: 85.71%; }
  .push-l-1-8 { margin-left: 12.5%; }
  .push-l-3-8 { margin-left: 37.5%; }
  .push-l-5-8 { margin-left: 62.5%; }
  .push-l-7-8 { margin-left: 87.5%; }
  .push-l-1-9 { margin-left: 11.11%; }
  .push-l-2-9 { margin-left: 22.22%; }
  .push-l-4-9 { margin-left: 44.44%; }
  .push-l-5-9 { margin-left: 55.55%; }
  .push-l-7-9 { margin-left: 77.77%; }
  .push-l-8-9 { margin-left: 88.88%; }
  .push-l-1-10 { margin-left: 10%; }
  .push-l-3-10 { margin-left: 30%; }
  .push-l-7-10 { margin-left: 70%; }
  .push-l-9-10 { margin-left: 90%; }
  .push-l-1-11 { margin-left: 9.09%; }
  .push-l-2-11 { margin-left: 18.18%; }
  .push-l-3-11 { margin-left: 27.27%; }
  .push-l-4-11 { margin-left: 36.36%; }
  .push-l-5-11 { margin-left: 45.45%; }
  .push-l-6-11 { margin-left: 54.54%; }
  .push-l-7-11 { margin-left: 63.63%; }
  .push-l-8-11 { margin-left: 72.72%; }
  .push-l-9-11 { margin-left: 81.81%; }
  .push-l-10-11 { margin-left: 90.90%; }
  .push-l-1-12 { margin-left: 8.33%; }
  .push-l-5-12 { margin-left: 41.66%; }
  .push-l-7-12 { margin-left: 58.33%; }
  .push-l-11-12 { margin-left: 91.66%; }

  /**
   * Align items
   *
   * Vertical alignment.
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .align-l-top { align-items: flex-start; }
  .align-l-middle { align-items: center; }
  .align-l-bottom { align-items: flex-end; }

  .align-l-left { justify-content: flex-start; }
  .align-l-center { justify-content: center; }
  .align-l-right { justify-content: flex-end; }

  /**
   * Align self
   *
   * Col alignment exceptions
   *
   * These styles should only be composed on
   * the col
   */
  .align-l-self-top { align-self: flex-start; }
  .align-l-self-middle { align-self: center; }
  .align-l-self-bottom { align-self: flex-end; }

  /**
   * Distribution
   *
   * Fill empty space around or between cols
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .space-l-around { justify-content: space-around; }
  .space-l-between { justify-content: space-between; }
}

/**
 * Breakpoint: $xl
 *
 * These styles will be ignored on screens < $xl
 */
@media ($xl) {
  .col-xl-auto { flex: 1 0 auto; max-width: 100%; }
  .col-xl-1-1 { flex: 1 0 100%; max-width: 100%; }
  .col-xl-1-2 { flex: 1 0 50%; max-width: 50%; }
  .col-xl-1-3 { flex: 1 0 33.33%; max-width: 33.33%; }
  .col-xl-2-3 { flex: 1 0 66.66%; max-width: 66.66%; }
  .col-xl-1-4 { flex: 1 0 25%; max-width: 25%; }
  .col-xl-3-4 { flex: 1 0 75%; max-width: 75%; }
  .col-xl-1-5 { flex: 1 0 20%; max-width: 20%; }
  .col-xl-2-5 { flex: 1 0 40%; max-width: 40%; }
  .col-xl-3-5 { flex: 1 0 60%; max-width: 60%; }
  .col-xl-4-5 { flex: 1 0 80%; max-width: 80%; }
  .col-xl-1-6 { flex: 1 0 16.66%; max-width: 16.66%; }
  .col-xl-5-6 { flex: 1 0 83.33%; max-width: 83.33%; }
  .col-xl-1-7 { flex: 1 0 14.28%; max-width: 14.28%; }
  .col-xl-2-7 { flex: 1 0 28.57%; max-width: 28.57%; }
  .col-xl-3-7 { flex: 1 0 42.86%; max-width: 42.86%; }
  .col-xl-4-7 { flex: 1 0 57.14%; max-width: 57.14%; }
  .col-xl-5-7 { flex: 1 0 71.43%; max-width: 71.43%; }
  .col-xl-6-7 { flex: 1 0 85.71%; max-width: 85.71%; }
  .col-xl-1-8 { flex: 1 0 12.5%; max-width: 12.5%; }
  .col-xl-3-8 { flex: 1 0 37.5%; max-width: 37.5%; }
  .col-xl-5-8 { flex: 1 0 62.5%; max-width: 62.5%; }
  .col-xl-7-8 { flex: 1 0 87.5%; max-width: 87.5%; }
  .col-xl-1-9 { flex: 1 0 11.11%; max-width: 11.11%; }
  .col-xl-2-9 { flex: 1 0 22.22%; max-width: 22.22%; }
  .col-xl-4-9 { flex: 1 0 44.44%; max-width: 44.44%; }
  .col-xl-5-9 { flex: 1 0 55.55%; max-width: 55.55%; }
  .col-xl-7-9 { flex: 1 0 77.77%; max-width: 77.77%; }
  .col-xl-8-9 { flex: 1 0 88.88%; max-width: 88.88%; }
  .col-xl-1-10 { flex: 1 0 10%; max-width: 10%; }
  .col-xl-3-10 { flex: 1 0 30%; max-width: 30%; }
  .col-xl-7-10 { flex: 1 0 70%; max-width: 70%; }
  .col-xl-9-10 { flex: 1 0 90%; max-width: 90%; }
  .col-xl-1-11 { flex: 1 0 9.09%; max-width: 9.09%; }
  .col-xl-2-11 { flex: 1 0 18.18%; max-width: 18.18%; }
  .col-xl-3-11 { flex: 1 0 27.27%; max-width: 27.27%; }
  .col-xl-4-11 { flex: 1 0 36.36%; max-width: 36.36%; }
  .col-xl-5-11 { flex: 1 0 45.45%; max-width: 45.45%; }
  .col-xl-6-11 { flex: 1 0 54.54%; max-width: 54.54%; }
  .col-xl-7-11 { flex: 1 0 63.63%; max-width: 63.63%; }
  .col-xl-8-11 { flex: 1 0 72.72%; max-width: 72.72%; }
  .col-xl-9-11 { flex: 1 0 81.81%; max-width: 81.81%; }
  .col-xl-10-11 { flex: 1 0 90.90%; max-width: 90.90%; }
  .col-xl-1-12 { flex: 1 0 8.33%; max-width: 8.33%; }
  .col-xl-5-12 { flex: 1 0 41.66%; max-width: 41.66%; }
  .col-xl-7-12 { flex: 1 0 58.33%; max-width: 58.33%; }
  .col-xl-11-12 { flex: 1 0 91.66%; max-width: 91.66%; }

  /**
   * Push
   *
   * Push columns to the right based on col width.
   */
  .push-xl-auto { margin-left: auto; }
  .push-xl-1-1 { margin-left: 100%; }
  .push-xl-1-2 { margin-left: 50%; }
  .push-xl-1-3 { margin-left: 33.33%; }
  .push-xl-2-3 { margin-left: 66.66%; }
  .push-xl-1-4 { margin-left: 25%; }
  .push-xl-3-4 { margin-left: 75%; }
  .push-xl-1-5 { margin-left: 20%; }
  .push-xl-2-5 { margin-left: 40%; }
  .push-xl-3-5 { margin-left: 60%; }
  .push-xl-4-5 { margin-left: 80%; }
  .push-xl-1-6 { margin-left: 16.66%; }
  .push-xl-5-6 { margin-left: 83.33%; }
  .push-xl-1-7 { margin-left: 14.28%; }
  .push-xl-2-7 { margin-left: 28.57%; }
  .push-xl-3-7 { margin-left: 42.86%; }
  .push-xl-4-7 { margin-left: 57.14%; }
  .push-xl-5-7 { margin-left: 71.43%; }
  .push-xl-6-7 { margin-left: 85.71%; }
  .push-xl-1-8 { margin-left: 12.5%; }
  .push-xl-3-8 { margin-left: 37.5%; }
  .push-xl-5-8 { margin-left: 62.5%; }
  .push-xl-7-8 { margin-left: 87.5%; }
  .push-xl-1-9 { margin-left: 11.11%; }
  .push-xl-2-9 { margin-left: 22.22%; }
  .push-xl-4-9 { margin-left: 44.44%; }
  .push-xl-5-9 { margin-left: 55.55%; }
  .push-xl-7-9 { margin-left: 77.77%; }
  .push-xl-8-9 { margin-left: 88.88%; }
  .push-xl-1-10 { margin-left: 10%; }
  .push-xl-3-10 { margin-left: 30%; }
  .push-xl-7-10 { margin-left: 70%; }
  .push-xl-9-10 { margin-left: 90%; }
  .push-xl-1-11 { margin-left: 9.09%; }
  .push-xl-2-11 { margin-left: 18.18%; }
  .push-xl-3-11 { margin-left: 27.27%; }
  .push-xl-4-11 { margin-left: 36.36%; }
  .push-xl-5-11 { margin-left: 45.45%; }
  .push-xl-6-11 { margin-left: 54.54%; }
  .push-xl-7-11 { margin-left: 63.63%; }
  .push-xl-8-11 { margin-left: 72.72%; }
  .push-xl-9-11 { margin-left: 81.81%; }
  .push-xl-10-11 { margin-left: 90.90%; }
  .push-xl-1-12 { margin-left: 8.33%; }
  .push-xl-5-12 { margin-left: 41.66%; }
  .push-xl-7-12 { margin-left: 58.33%; }
  .push-xl-11-12 { margin-left: 91.66%; }

  /**
   * Align items
   *
   * Vertical alignment.
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .align-xl-top { align-items: flex-start; }
  .align-xl-middle { align-items: center; }
  .align-xl-bottom { align-items: flex-end; }

  .align-xl-left { justify-content: flex-start; }
  .align-xl-center { justify-content: center; }
  .align-xl-right { justify-content: flex-end; }

  /**
   * Align self
   *
   * Col alignment exceptions
   *
   * These styles should only be composed on
   * the col
   */
  .align-xl-self-top { align-self: flex-start; }
  .align-xl-self-middle { align-self: center; }
  .align-xl-self-bottom { align-self: flex-end; }

  /**
   * Distribution
   *
   * Fill empty space around or between cols
   *
   * These styles should only be composed on
   * the flex-grid wrapper
   */
  .space-xl-around { justify-content: space-around; }
  .space-xl-between { justify-content: space-between; }
}
